@font-face {
  font-family: myFont;
  src: url(/fonts/NeueHaasDisplayBlack.ttf);
}
@font-face {
  font-family: myFont;
  font-weight: 100;
  src: url(/fonts/NeueHaasDisplayThin.ttf);
}
@font-face {
  font-family: myFont;
  font-weight: 200;
  src: url(/fonts/NeueHaasDisplayRoman.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
  /* overflow: hidden; */
}
html,
body {
  
  width: 100%;
  height: 100%;
}
#main{
  position: relative;
  z-index: 5;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}
#nav {
  height: 80px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#nav img {
  height: 50px;
  width: 100px;
}
#buttons {
  display: flex;
  gap: 1vw;
}
#buttons h4 {
  border: 1px solid #0000008f;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}
#buttons h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  bottom: -100%;
  left: 0;
  transition: all ease 0.2s;
}
#buttons h4:hover::after {
  content: "";
  bottom: 0;
  border-radius: 50px;
}
#buttons h4 a {
  color: #000000c2;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
#buttons h4:hover a {
  color: #fff;
}

/* after nav  */

#landingpage {
  display: flex;
  height: 85vh;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(79, 79, 79);
  align-items: end;
  padding-bottom: 1.5vw;
}

#left {
  width: 23vw;
  text-align: left;
  line-height: 1.5;
}
#right {
  line-height: 1.2;

  text-align: end;
  font-size: 18vh;
}

video {
  width: 100%;
  border-radius: 30px;
  margin-top: 4vw;
  position: relative;
}

#oneD {
  /* overflow-x: hidden; */
  
  filter: blur(10px);
  background-color: orangered;
  height: 30vw;
  width: 30vw;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
#twoD {
  width: 100%;
  background-color: orangered;
  height: 30vw;
  width: 30vw;
  position: absolute;
  right: 0;
  filter: blur(10px);
  border-radius: 50%;
  animation: myAnimation2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#threeD {
  width: 100%;
  background-color: rgba(237, 93, 41, 0.95);
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 40%;
  right: 0;
  filter: blur(10px);
  animation: myAnimation 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes myAnimation {
  from {
    transform: translate(0%, -15%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes myAnimation2 {
  from {
    transform: translate(-55%, -15%);
  }
  to {
    transform: translate(-0%, 0%);
  }
}



/* page 2 */


#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 8vh 0;
}
#movingText {
  overflow-x: auto;
  white-space: nowrap;
  
}
#movingText::-webkit-scrollbar{
  display: none;
}
#movingText h1{
  display: inline-block;
  font-size: 9vw;
}
.containsText{
  white-space: nowrap;
  
  display: inline-block;
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle{
  display: inline-block;
  background-color: orangered;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 1vw 3vw;
}

@keyframes scroll {
  from{
    transform: translateX(0%);
  }to{
    transform: translateX(-100%);
    
  }
}


#page2Bottom{
  height: 80vh;
  width: 100%;
  padding: 3vw;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efeae3;
  position: relative;
}
#page2Bottom h1{
  font-size: 4vw;
  width: 50%;
  line-height: 4vw;
  z-index: 2;
}
#page2Bottom_part2{
  
 
  width: 25%;
}
#page2Bottom_part2 p{
  font-weight: 200;
  margin-top:2vw ;

}

#page2Bottom_part2 img{
  border-radius: 12px;
  width: 80%;
}
#mainCircle{
  
    width: 100%;
    top: 35%;
    left: 28%;

    background-color: #fe320a;
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    right: 25%;
    filter: blur(20px);
  
  
}

#circleAnim {
  width: 100%;
  background-color: #fe320a;
  height: 35vw;
  width: 35vw;
  
  position: absolute;
  border-radius: 50%;
  right: -10%;
  top: -10%;
  filter: blur(20px);
  animation: myAnimation3 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes myAnimation3 {
  from {
    transform: translate(10%, -20%);
  }
  to {
    transform: translate(-10%, 20%);
  }
}

#page3{
  background-color: #efeae3;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.elem{
  padding: 0 2vw;
  width: 100%;
  height: 124px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(160, 158, 158);
  
}
.overlay{
  position: absolute;
  left: 0;
  background-color: orange;
  height: 124px;
  width: 100%;
  top: -102%;
  transition: all ease 0.5s;
}
.elem h1{
  
  z-index: 2;
}
.elem:hover .overlay{
  top: 0;
}
#display{
  background-size: cover;
  object-fit: cover;
  position: fixed;
  border-radius: 10px;
  top: 26%;
  left: 50%;
  height: 29vw;
  width: 24vw;
  background-color: transparent;
  display: none;
  z-index: 8;
  
}


#page4{
  background-color: #efeae3;
  min-height: 100vh;
  padding: 3vw 0;
}
#container{
  background-color: black;
  width: 96%; 
  margin: 0 auto;
  color: #fff;
  display: flex;
  border-radius: 18px;
  justify-content: space-between;
  height: 115vh;
  overflow: hidden;
  
}
#container #page4left{
border-radius: 14px;
  width: 40%;
  text-align: left;
  align-content: center;
  margin: 0 10vw;
  
}
#page4left h1{
color: gray;
font-size: 10vh;
border-left: 3px solid gray ;
padding-left: 10px;
/* border-left ; */
}
#page4left p{
color: #efeae3;
margin: 25px 0;
font-weight: 100;
/* margin-bottom: 15pxs; */
}

#container #page4right {

  background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 60%;
  background-size: cover;
  object-fit: cover;
  background-position-x: 100%;
}

#page5{
  height: 100vh;
  width: 100%;
  
}

footer{
  z-index: 4;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
 
  justify-content: center;
  text-align: center;
  
}
footer h1{
  align-content: end;
  font-size: 220px;

}
#footerAnimation{
  /* background-color: #f42b03;
  background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%); */
  background-color:orange;
  
  width: 100%;
  height: 350px;
  border-bottom-left-radius: 80%;
  filter: blur(20px);
  position: absolute;
  animation-name: footerAnim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

}


@keyframes footerAnim{
  from{
    transform: translate(0,-70%) ;

  }
  to{
    transform: translate(0,20%);
    
  }
}